[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/yspel"]
	path = site-lisp/yspel
	url = git://github.com/yama-natuki/yspel
[submodule "my-lisp/guide-key"]
	path = my-lisp/guide-key
	url = git@github.com:kbkbkbkb1/guide-key.git
[submodule "site-lisp/popwin"]
	path = site-lisp/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "site-lisp/calfw"]
	path = site-lisp/calfw
	url = https://github.com/kiwanami/emacs-calfw.git
[submodule "site-lisp/highlight-indentation"]
	path = site-lisp/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "site-lisp/emoji"]
	path = site-lisp/emoji
	url = git://github.com/imakado/emoji.git
[submodule "site-lisp/color-theme-solarized"]
	path = site-lisp/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
