/.cask/
/auto-save-list/
/elpa/
/server/

/.init_time
/.mc-lists.el
/.migemo-pattern
/abbrev_defs
/ac-comphist.dat
/org-init.d/init.el
/recentf
/init_time
/internal.el
/srecode-map.el

# Init file
/org-init.d/init.*
!/org-init.d/init.org

# Automatically created files (like cache)
/.org-id-locations
/.org-timestamps/
