*.elc
*-autoloads.el

/.cask/
/auto-save-list/
/elpa/
/server/

/.init_time
/.mc-lists.el
/.migemo-pattern
/.session
/async-bytecomp.log
/abbrev_defs
/ac-comphist.dat
/org-init.d/init.el
/recentf
/init_time
/internal.el
/srecode-map.el

# Init file
/org-init.d/init.*
!/org-init.d/init.org

# Automatically created files (like cache)
/.org-id-locations
/.org-timestamps/
/url/
/.emacs.desktop
/.emacs.desktop.lock
/tramp
/undo-hist/
/RFC/
