[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = git://github.com/magnars/expand-region.el.git
