/*
 * Org-mode の HTML 出力用スタイルシート
 */

/* 文書全体 */
html {
    font-family: sans-serif;
    font-size: medium;
}
body {
    color: black;
    background-color: white;
    line-height: 1.3;  /* IE 8 では "1.3" と "130%" と "1.3em" とで <h1> などの出力が異なるので注意 */
    margin: 2%;
}

/* リンク */
a:link {
    color: #0000c0;
}
a:visited {
    color: #a00000;
}
a:active {
    color: #ff0000;
}
a:hover {
    color: #ff0000;
}

/* タイトル */
h1.title {
    color: white;
    background-color: #c00000;
    text-align: left;
    border: 3px solid black;
    padding: 0.1em 0.3em;
}

/* 目次 */
#table-of-contents {
    float: right;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
    font-size: 10pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: none repeat scroll 0% 0% #FFF;
    line-height: 12pt;
    text-align: center;
    box-shadow: 0px 0px 1em #777;
    max-height: 80%;
    overflow: auto;
    z-index: 1;
}
#table-of-contents h2 {
    font-size: 13pt;
    max-width: 9em;
    border: 0px none;
    font-weight: normal;
    padding: 0.05em 2em;
    margin: 1em auto;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
}

/* 見出し */
h2, h3, h4, h5, h6 {
    padding: 0.2em 0.3em;
}
h4, h5, h6 {
    font-size: 1em;  /* ブラウザによっては本文よりも小さくなってしまうので */
}
h5, h6 {
    margin: 0.5em;
}
h2 {
    border: 3px solid #c00000;
}
h3 {
    border-bottom: 2px dotted black;
    border-left: 2px dotted black;
    background-color: #EEEEEE;
}
h4 {
    border-bottom: 1px solid black;
}
h5 {
    border-bottom: 1px solid #c0c0c0;
}
h6 {
    border-bottom: 1px dotted #c0c0c0;
}
span.section-number-2, span.section-number-3, span.section-number-4, span.section-number-5, span.section-number-6 {
    color: #c00000;
}

/* 本文 */
div.outline-text-2, div.outline-text-3, div.outline-text-4 {
    margin: 1em;
}
div.outline-text-5, div.outline-text-6 {
    margin: 1em 1.5em;
}

/* 文字装飾 */
b {
    color: #c00000;
}
i {
    color: #600000;
}
code {
    color: #600000;
}
del {
    color: #608080;
}

/* 画像 */
a img {
    border: none;
}
img.figure {  /* 図としての画像 */
    display: block;
    margin: 1em auto;
    border: 1px dotted #c00000;
}

/* ソース、例文 */
pre {
    font-family: "ＭＳ ゴシック", "Osaka-Mono", monospace;
    font-size: medium;
    margin: 0.5em;
    padding: 0.5em;
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}
pre.example {
    color: #202020;
    background-color: #f0d0d0;
    border-top: 2px solid #804040;
    border-left: 2px solid #804040;
    border-bottom: 2px solid #d0a0a0;
    border-right: 2px solid #d0a0a0;
}

/* テーブル */
table {
    margin: auto;
}
thead {
    color: white;
    background-color: #c00000;
}
tbody {
    background-color: #f0f0f0;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 0.5em;
}
th {
    font-weight: bold;
}
caption {
    color: #c00000;
    font-weight: bold;
    font-size: smaller;
    white-space: nowrap;
}

/* リスト */
ol, ul {
    padding-left: 2em;
}
ol li {
    /* レベル 1 の数付きリストには数字の横に線を付けてみる */
    border-left: 1px solid #d0d0d0;
    padding-left: 0.5em;
}
ol li ol li{
    /* レベル 2 以下の数付きリストには数字の横に線を付けない */
    border: none;
    padding-left: 0em;
}
ul li {
    border: none;
}

dt {
    font-weight: normal;
    border-left: 0.5em solid #c00000;
    border-bottom: 1px dotted #c00000;
    padding-left: 0.3em;
    margin: 0.3em 0em;
    /* width: 50%; */
}

dd {
    margin-left: 1.0em;
}

/* 水平線 */
hr {
    height: 1px;
    background-color: #c00000;
    border-style: none;
}

/* フッタ */
div#postamble {
    text-align: right;
    font-size: smaller;
    border-top: 2px solid #808080;
    padding: 1em 0em;
}
div#postamble p {
    margin: 0.2em 0em;
}
p.creator {
    color: #a0a0a0;
}

/* 本文 */
div#content {
    width: 900px;
    margin: 0 auto;
}

/* linenr */
.linenr {
    background-color: #d0d0d0;

    /* 画面選択を禁止するCSS */
    user-select: none;         /* CSS3 */
    -moz-user-select: none;    /* Firefox */
    -webkit-user-select: none; /* Safari、Chrome */
    -ms-user-select: none;     /* IE10～ */
}

/* TODOキーワード */
.todo, .TODO {
  /* org-todo */
  color: #ff0000;
  font-weight: bold;
}

blockquote {
    margin: 7px;
    padding: 10px;
    background: #eeeeee;
    border: none;
    border-left: 5px solid #8b6969;
}

blockquote .origin {
    text-align: right;
}
